@import '../../App.scss';

.header-container,
.header-texts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container{
  width: 100%;
  position: relative;
  z-index: 2;
  min-height: 300px;
  padding: 40px 10px;
  gap: 40px;
  background-color: $black;
  overflow: hidden;
}
.welcome-title,
.welcome-message{
  color: #fff;
  font-size: 2rem;
}
.welcome-title{
  font-size: 4rem;
}
.header-background-image{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}