.movie-item{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
}
.movie-title,
.movie-item-link-image,
.movie-genre{
  user-select: none;
}
.movie-title{
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0 0 10px 0;
}
.movie-image{
  width: 100%;
  border-radius: 4px;
  user-select: none;
  pointer-events: none;
}
.movie-genres{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: .7rem;
}
.movie-genre{
  display: block;
  background-color: #fff;
  padding: 4px 6px;
  border-radius: 4px;
}
