  @import '../../App.scss';
  
  .search-movies-container{
    display: flex;
    gap: 10px;
    position: relative;
  }
  
  .search-input,
  .search-button{
    padding: 10px 15px;
    border: none; 
    background-color: $white;
    border-radius: 300px;
  }
  .search-input{
    width: 400px;
    font-size: 1.4rem;
    outline: 1px solid $blackText;
    border-radius: 300px;
    &:focus, &:active {
      outline: 2px solid $accentColor;
    }
    &::placeholder{
      color: $lightGrey;
    }
  }
  .search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: $white;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .2s;
    &:hover {
      background-color: $accentColor;
    } 
  }